.panda-background {
    background-image: url('panda_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 390px;
    width: 100%;
}
@media(max-width:780px){
    .panda-background {
    background-position: 36% 50%;
    }
}
@media(max-width:640px){
    .panda-background {
        height: 335px;
    background-position: 50% 50%;
    }
}
@media(max-width:515px){
    .panda-background {
    /* background-image: url('panda_320.jpg'); */
    background-position: 34% 50%;
    height: 187px;
    }
}