.main-information {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.main-information__container {
    padding: 40px 0px 180px 0px;
}
@media(max-width:1220px){
    .main-information__container {
    padding: 40px 30px 30px 40px;
}
}
@media(max-width:780px){
    .main-information__container {
    padding: 30px 20px 30px 20px;
}
}
@media(max-width:515px){
    .main-information__container {
    padding: 30px 10px 20px 10px;
}
}

.main-information__your-help {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
    padding: 0px 0px 30px 0px;
}
@media(max-width:1220px){
    .main-information__your-help {
        padding: 0px 0px 30px 0px;
    }
}
@media(max-width:780px){
    .main-information__your-help {
        padding: 0px 0px 20px 0px;
        font-size: 24px;
    }
}
.your-help {}

.your-help__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    padding: 0px 0px 40px 0px;
}
@media(max-width:780px){
    .your-help__text {
        padding: 0px 0px 30px 0px
    }
}

.main-information__donation-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
    padding: 0px 0px 60px 0px;
}
@media(max-width:1220px){
    .main-information__donation-info {
        padding: 0px 0px 40px 0px;
    }
}
@media(max-width:780px){
    .main-information__donation-info {
        padding: 0px 0px 40px 0px;
    }
}
@media(max-width:515px){
    .main-information__donation-info {
        font-size: 24px;
        padding: 0px 0px 30px 0px;
    }
}
.donation-manual {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 40px 92px 62px 92px;
}
@media(max-width:1220px){
    .donation-manual {
        padding: 20px 0px 0px 0px;
    }
}

.donation-manual__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    padding: 0px 0px 20px 0px;
}
@media(max-width:515px){
    .donation-manual__title {
    font-size: 24px;
    padding: 0px 0px 10px 0px;
    }
}
.donation-manual__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    text-align: center;
    padding: 0px 0px 107px 0px;
}
@media(max-width:780px){
    .donation-manual__text {
        padding: 0px 0px 97px 0px;
    }
}
@media(max-width:515px){
    .donation-manual__text {
        font-size: 16px;
        padding: 0px 0px 36px 0px;
    }
}

.donaiton-manual__day-period {
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 0px 0px 49px 0px;
}
@media(max-width:660px){
    .donaiton-manual__day-period{
        justify-content: space-between;
        padding: 0px 0px 4.5px 0px;
    }
}
@media(max-width:560px){
    .donaiton-manual__day-period{
        justify-content: space-between;
        padding: 0px 9px 4.5px 0px;
    }
}
@media(max-width:515px){
    .donaiton-manual__day-period{
        align-items:flex-end;
        padding: 0px 9px 4.5px 0px;
    }
}
.day-period__scoreboard {
    padding: 61px 0px 0px 0px;
}
@media(max-width:515px){
    .day-period__scoreboard {
        padding: 0px 0px 28px 0px;
    }
}

.day-period___number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
@media(max-width:515px){
    .day-period___number {
        font-size: 40px;
    }
}
@media(max-width:515px){
    .day-period___number {
        padding: 0px 0px 6px 0px;
    }
}
.day-period__comment {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #333B41;
}
@media(max-width:515px){
    .day-period__comment {
        font-size: 12px;
    }
}
@media(max-width:360px){
    .day-period__comment {
        font-size: 9px;
    }
}
.day-period__sign-multiply {
    position: relative;
    width: 14px;
    height: 14px;
    margin: 83px 64px 0px 11px;
}
@media(max-width:515px){
    .day-period__sign-multiply {
        margin: 0px 36px 57px 6px;
    }
}
@media(max-width:360px){
    .day-period__sign-multiply {
        margin: 0px 36px 57px 1px;
    }
}
.day-period__line {
    background-color: #333B41;
    width: 2px;
    height: 14px;
}

.day-period__line:nth-child(1) {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotate(45deg);
}

.day-period__line:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotate(-45deg);
}


.day-period__icon-conainer {
    position: relative;
}
@media(max-width:515px){
.day-period__icon-conainer {
    display: none;
}
}

.day-period__icon-eye {
    position: absolute;
    top: 40px;
    left: 21px;
}

.day-period__icon-animal {}

.day-period__icon-paw_0 {
    position: absolute;
    top: 132px;
    left: 233px;
}

.day-period__icon-paw_1 {
    position: absolute;
    top: 154px;
    left: 98px;
}


.day-period__icon-conainer_320 {
    position: relative;
    display: none;
}
.day-period__icon-paw_1_320 {
    position: absolute;
    top: 74px;
    left: 132px;
}
.day-period__icon-paw_0_320 {
    position: absolute;
    top: 87px;
    left: 56px;
}
.day-period__icon-eye_320 {
    position: absolute;
    top: 24px;
    left: 13px;
}
.day-period__icon-animal_320 {
   
}
@media(max-width:515px){
    .day-period__icon-conainer_320 {
        display: block;
    }
}
.dollars-ammount__amount{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #000000;
padding: 0px 0px 17px 0px;
}
@media(max-width:910px){
    .dollars-ammount__amount{
        padding: 0px 0px 7px 0px;
    }
}
.day-period__dollars-ammount {
    align-self: center;
    padding: 0px 0px 50px 0px;
}
@media(max-width:660px){
    .day-period__dollars-ammount {
        padding: 0px 0px 25px 0px;
    }
}
@media(max-width:360px){
    .day-period__dollars-ammount {
        padding: 0px 0px 0px 0px;
    }
}
.dollars-ammount {}

.dollars-ammount__contour-scale {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 976px;
height: 27px;
background: #404950;
border-radius: 2px;
margin: 0px 0px 50px 0px;
}
@media(max-width:1070px){
    .dollars-ammount__contour-scale {
        width: 810px;
    }
}
@media(max-width:910px){
    .dollars-ammount__contour-scale {
        width: 600px;
    }
}
@media(max-width:660px){
    .dollars-ammount__contour-scale {
        width: 500px;
    }
}
@media(max-width:560px){
    .dollars-ammount__contour-scale {
        width: 400px;
    }
}
@media(max-width:430px){
    .dollars-ammount__contour-scale {
        width: 300px;
        height: 13.5px;
    }
}
.dollars-ammount__line{
    width: 915px;
    height: 2px;
    background: #72828E;
}
@media(max-width:1070px){
    .dollars-ammount__line{
        width: 785px;
    }
}
@media(max-width:910px){
    .dollars-ammount__line{
        width: 524px;
    }
}
@media(max-width:660px){
    .dollars-ammount__line{
        width: 450px;
    }
}
@media(max-width:560px){
    .dollars-ammount__line{
        width: 350px;
    }
}
@media(max-width:430px){
    .dollars-ammount__line{
        width: 262px;
        height: 1px;
    }
}
.dollars-ammount__wrap-dots{
    display: flex;
    justify-content: space-between;
}
.dollars-ammount__dots {
    position:relative;
    width: 10px;
height: 10px;
border-radius:50%;
background: #FFEE2E;
margin: -4px 0px 0px 0px;
}
@media(max-width:1070px){
.dollars-ammount__dots:nth-child(1){
    display: none;
}
.dollars-ammount__dots:nth-child(9){
    display: none;
}
}
@media(max-width:1070px){
    .dollars-ammount__dots:nth-child(2){
        display: none;
    }
    .dollars-ammount__dots:nth-child(3){
        display: none;
    }
    }
    @media(max-width:430px){
        .dollars-ammount__dots {
            width: 5px;
            height: 5px;
            margin: -2px 0px 0px 0px;
        }
    }

.activated-dots{
    display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border:3px #FE9013 solid;
  border-radius: 50%;
  position: absolute;
  top:-15px;
  left:-15px;
}
@media(max-width:430px){
    .activated-dots{
        width: 20px;
  height: 20px;
  border:1px #FE9013 solid;
  top:-7.5px;
  left:-7.5px;
    }
}
.activated-dots::before{
    content:'';
    width: 23px;
    height: 23px;
    border:1px #FE9013 solid;
    border-radius: 50%;
  }
  @media(max-width:430px){
    .activated-dots::before{
        width: 11.5px;
    height: 11.5px;
    border:1px #FE9013 solid;
    }
}
.dollars-ammount__dots:hover {
    cursor: pointer;
}


.dollars-ammount__wrap-dollar{
    margin: 30px 0px 0px -28px;
}
.dollars-ammount__wrap-dollar-5000 {
    margin: 30px 0px 0px -25px;
}
.dollars-ammount__wrap-dollar-2000 {
    margin: 30px 0px 0px -25px;
}
.dollars-ammount__wrap-dollar-1000 {
    margin: 30px 0px 0px -25px;
}
.dollars-ammount__wrap-dollar-500 {
    margin: 30px 0px 0px -25px;
}
.dollars-ammount__wrap-dollar-250 {
    margin: 30px 0px 0px -25px;
}
.dollars-ammount__wrap-dollar-100 {
    margin: 30px 0px 0px -25px;
}
.dollars-ammount__wrap-dollar-50 {
    margin: 30px 0px 0px -16px;
}
.dollars-ammount__wrap-dollar-25 {
    margin: 30px 0px 0px -16px;
}
.dollars-ammount__wrap-dollar-5 {
    margin: 30px 0px 0px -7px;
}
@media(max-width:1070px){
    .dollars-ammount__wrap-dollar-2000 {
        margin: 30px 0px 0px -15px;
    }
    .dollars-ammount__wrap-dollar-25 {
        margin: 30px 0px 0px -20px;
    }
}
@media(max-width:560px){
    .dollars-ammount__wrap-dollar-500 {
        margin: 30px 0px 0px -23px;
    }
    .dollars-ammount__wrap-dollar-250 {
        margin: 30px 0px 0px -21px;
    }
    .dollars-ammount__wrap-dollar-100 {
        margin: 30px 0px 0px -20px;
    }
    .dollars-ammount__wrap-dollar-50 {
        margin: 30px 0px 0px -13px;
    }
    .dollars-ammount__wrap-dollar-25 {
        margin: 30px 0px 0px -13px;
    }
}
@media(max-width:430px){
    .dollars-ammount__wrap-dollar-500 {
        margin: 13px 0px 0px -23px;
    }
    .dollars-ammount__wrap-dollar-250 {
        margin: 13px 0px 0px -21px;
    }
    .dollars-ammount__wrap-dollar-100 {
        margin: 13px 0px 0px -20px;
    }
    .dollars-ammount__wrap-dollar-50 {
        margin: 13px 0px 0px -13px;
    }
    .dollars-ammount__wrap-dollar-25 {
        margin: 13px 0px 0px -13px;
    }
}
@media(max-width:360px){
    .dollars-ammount__wrap-dollar-500 {
        margin: 13px 0px 0px -15px;
    }
    .dollars-ammount__wrap-dollar-250 {
        margin: 13px 0px 0px -16px;
    }
    .dollars-ammount__wrap-dollar-100 {
        margin: 13px 0px 0px -15px;
    }
    .dollars-ammount__wrap-dollar-50 {
        margin: 13px 0px 0px -11px;
    }
    .dollars-ammount__wrap-dollar-25 {
        margin: 13px 0px 0px -9px;
    }
}
.dollars-ammount__dollars {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: #333B41;
    padding:0px 0px 0px 0px ;
}
@media(max-width:560px){
    .dollars-ammount__dollars {
        font-size: 19px;
    }
}
@media(max-width:360px){
    .dollars-ammount__dollars {
        font-size: 13px;
    }
}
.recolor-donate{
    color: #FE9013;
}
.donation-manual__form-second-page {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items:center;
}

.donation-manual__wrap-input {
    display: inline-block;
    position: relative;
    margin: 0px 0px 20px 0px;
}

.donation-manual__input {
    display: inline-block;
    width: 268px;
    height: 54px;
    border: 1px solid #929699;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.52);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
    padding: 0px 0px 0px 9px;
}
@media(max-width:660px){
    .donation-manual__input {
    width: 180px;
    height: 42px;
    }
}
.donation-manual__input::-webkit-outer-spin-button,
.donation-manual__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.donation-manual__input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.donation-manual__wrap-inf-placeholder {
    display: flex;

}


.donation-manual__sign-dollar {
    position: absolute;
    top: 0;
    margin: 16px 0px 0px 248px;
}
@media(max-width:660px){
    .donation-manual__sign-dollar {
        margin: 11px 0px 0px 160px;
    }
}

.donation-manual__wrap-radio {
    display: flex;
}
.donation-manual__wrap-radio:nth-child(1) {
    padding: 0px 50px 0px 0px;
}

.donation-manual__radio-container {
    display: flex;
    padding: 0px 0px 30px 0px;

}

.donation-manual__radio-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #333B41;
}

.donation-manual__radio-button[type="radio"] {
    appearance: none;
  margin: 0;
    width: 16px;
height: 16px;
border: 1px solid #FE9013;
border-radius: 50%;
transform: translateY(2px);
}
.donation-manual__radio-button[type="radio"] {
    display: flex;
   justify-content: center;
   align-items: center;
   margin: 0px 10px 0px 0px;

}
.donation-manual__radio-button[type="radio"]::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  background-color:#FE9013;
  }
.donation-manual__radio-button[type="radio"]:checked::before {
    transform: scale(1);
  }

.donation-manual__wrap-button {
}

.button {
    width:298px;
height:54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
margin: 0px 0px 30px 0px;
}

.donation-manual__remembering {
    font-size: 14px;
    text-align:center;
    white-space: nowrap;
    padding: 0px 0px 45px 0px;
}

